body {
}
#main-menu {
    background-color: #313539;
    margin-top: 14px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 80px;
}

#title {
    font-size: 28px;
    font-weight: normal;
    margin-left: 20px;
    color: #FFFFFF;
}

#titlerow {
    padding-top: 0;
    padding-bottom: 0;
}

#userIcon {
    cursor: pointer;
}

    #userIcon:hover {
        background-color: #BCBCBC;
    }


#surveillance {
    padding-top: 14px;
    height: 123px;
}

#titlecontainer {
    margin-left: initial;
}

#logo-container {
    margin-left: 15px !important;
    margin-top: 20px;
}

#hodormenu {
    border-color: #313539;
    position: relative;
}

.userinfoboxes {
    margin-left: 0;
    margin-right: 0;
}

#userinfobox {
    padding-left: 0;
}

.banner-box {
    /*width: auto !important;*/
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#loggedInTile {
    float: right;
}

#logoimg {
    padding-top: 10px;
}