<div class="ui center aligned padded segment dashboardGray" id="statuscontainer">
    <div class="content">
        <i class="huge external outline icon" id="linksIcon"></i>
        <div class="header">
            <b>NYTTIGE LENKER</b>
        </div>
    </div>
    <br />
    <div class="ui two column grid">
        <div class="middle aligned row">

            <div class="eight wide column right aligned">
                <div class="row">
                    <a href="http://ehelsetestsenter.cloudapp.net" target="_blank">Testsenter</a>
                </div>
                <div class="row">
                    <a href="http://oykri01helsenorge.westeurope.cloudapp.azure.com/" target="_blank">Jenkins</a>
                </div>
                <div class="row">
                    <a href="https://tfs.helsedirektoratet.no:8081/tfs/" target="_blank">TFS</a>
                </div>
            </div>
            <div class="eight wide column left aligned">
                <div class="row">
                    <a href="https://confluence.helsedirektoratet.no/" target="_blank">Confluence</a>
                </div>
                <div class="row">
                    <a href="https://sh.ehelse.no" target="_blank">Sharepoint</a>
                </div>
                <div class="row">
                    <a href="http://intranett.helsedirektoratet.no/ehelse/Sider/default.aspx" target="_blank">Intranett</a>
                </div>
            </div>
        </div>
    </div>
</div>

