<div id="formContainer">
    <div class="ui container segment" style="padding: 0;">
        <div class="hodorPrimary header">
           Glemt passord
        </div>

        <form class="ui form" id="userForm">
            <section>
                <div id="forgottenPassword" class="ui segment centertext">
                    For å få nytt passord må du skrive inn ditt eksiterende brukernavn. <br/>
                    Det nye passordet vil bli sendt til denne adressen.
                </div>
                <div class="field" id="registerEpostDiv">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="registerUserName" (keyup.enter)="generateNewPassword()" [(ngModel)]="username" name="username" placeholder="Brukernavn" type="text" autocomplete="off" />
                    </div>
                    <div class="ui message info" *ngIf="!validUsername"> Vennligst skriv inn en gyldig epostadresse</div>
                    <div *ngIf="errorMessage" class="ui message negative"> {{ errorMessage }}</div>
                </div>
                <div id="registerActions" class="ui grid centered">
                    <div class="ui row">
                        <button class="ui button hodorPrimary" [class.loading]="loading" type="button" (click)="generateNewPassword()">Få nytt password</button>
                        <button class="ui button hodorSecondary" type="button" [class.disabled]="loading" (click)="cancel()">Avbryt</button>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>