<div id="passwordPanel" *ngIf="show">
    <div *ngIf="!isNewUser" class="field" id="oldPasswordDiv">

        <label>Gammelt Passord</label>
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="oldPassword" [(ngModel)]="oldPassword" name="password" placeholder="Bekreft ditt gamle passord" type="password">
        </div>
    </div>

    <div class="field" id="passwordDiv">

        <label>{{ isNewUser ? 'Passord' : 'Nytt passord'}}Passord</label>
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="newPassword" [(ngModel)]="user.password" name="password" placeholder="{{isNewUser ? 'Opprett et passord som blir knyttet til din bruker i testdata-applikasjonen' : 'Nytt Passord'}}" type="password">
        </div>
    </div>
    <div class="field" id="passwordRepeatDiv">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input id="newPasswordConfirmed" name="passwordrepeat" placeholder="{{isNewUser ? 'Gjenta passord' : 'Gjenta nytt passord'}}" type="password">
        </div>
    </div>
</div>