<a id="terms" (click)="showTerms()" style="cursor: pointer">Les vilkår</a>
<div class="ui modal">
    <div class="ui header teal">
        Vilkår for bruk av applikasjonen
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">1. Lagring av personlig data</div>
            <p>
                Applikasjonen vil kryptere og lagre ditt brukernavn og passord til registerplattformen (Test-01). Dette er fordi at applikasjonen da kan gjøre handlinger på dine vegne,
                som følge av at du har godkjent disse handlingene. Applikasjonen lagrer også brukernavn og passord til denne applikasjonen, men da blir passordet gjort umulig å
                tyde - selv med innsikt i databasen (det blir hashet). Vi oppfordrer allikevel sterkt til å bruke et passord, både til registerplattformen og din personlige bruker, som
                du ikke bruker andre steder i ditt arbeid eller utenfor arbeid.
            </p>
            <br />
        </div>
        <div class="description">
            <div class="ui header">2. Lagring av din profil</div>
            <p>
                Applikasjonen lagrer informasjon om hvilken virksomhet og hvilket prosjekt du er knyttet til, samt rollen din i prosjektet. Dette er fordi vi vil bygge opp kunnskap om
                hvem som bruker applikasjonen.
            </p>
            <br />
        </div>
        <div class="description">
            <div class="ui header">3. Testdata blir ikke hemmeligholdt</div>
            <p>
                Dine handlinger, som f.eks. å registrere overvåkning av testdata, eller å opprette ny testdata, blir ikke hemmeligholdt - verken til brukere i ditt prosjekt
                eller brukere i andre prosjekt. Med andre ord, alle andre brukere vil kunne se hvilke testdata du har registrert. Dette er fordi at applikasjonen vil oppfordre disse
                brukerne til å holde seg unna din testdata, samt å informere dem at det er nettopp du som har lagt lås på disse dataene.
            </p>
            <br />
        </div>
        <div class="description">
            <div class="ui header">4. Applikasjonen er i utvikling</div>
            <p>
                Denne applikasjonen er i startfasen, slik at noe nedetid eller feil må påregnes. Vi er veldig takknemlig hvis vi får tilbakemelding om feil, slik at vi kan utbedre dem.
            </p>
            <br />
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Lukk
        </div>
    </div>
</div>